body {
  margin: 0;
  background-color: #313131;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container_Outer{
  border:2px solid yellowgreen;
}
.container_Inner{
  display:flex;
  align-items: center;
  gap:30px;
  padding: 20px 0px;
}

.user_Tag{
display: flex;
justify-content: space-between;
border: 2px  solid yellow;
}

p, h3{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

h2{
  text-align: center;
}